<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://stacc.com">
                <img src="https://cdn.sanity.io/images/8j24leyc/production/ec6d45591df4f7a78906974042a85763da3784f0-312x312.png"
                    style="height:150%">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                
                <a class="navbar-item" href="https://stacc.com/fagkveldkonkurranse">
                    Stacc Challenge
                </a>
                <a class="navbar-item" href="index.html">
                        Home
                    </a>
                <a class="navbar-item" href="/about.html">
                    About
                </a>

            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p>Day 1</p>
                            <p>Sep 10</p>
                         </div>
                        <div class="message-body">
                                <p class="has-text-weight-bold">Steps</p>
                            <ul>
                                <li>Created basic front-end</li>
                                <li>Planning execution</li>
                            </ul>
                                <p class="has-text-weight-bold">Tech</p>
                                <ul>
                                    <li>HMTL / CSS / JS</li>
                                    <li>Machine Learning - Tensorflow / Azure</li>
                                    <li>OCR - Tensorflor / Azure</li>
                                    <li>API endpoint - Python / Flask</li>
                                </ul>

                                <p class="has-text-weight-bold">Procedings</p>
                                <ol>
                                        <li>Use OCR to transform picture of Hitori into strict format</li>
                                        <li>Create JS grid where user can input their own grid</li>
                                        <li>Generate a random problem by specifying grid size</li>
                                        <li>The problem is then transformed into strict format, format to be determined..</li>
                                        <li>Problem is then sent to external server, solved, and returned</li>
                                 </ol>


                         </div>
                    </article>
                </div>
                <div class="column">
                        <article class="message">
                                <div class="message-header">
                                    <p>Day 2</p>
                                    <p>Sep 11</p>
                                 </div>
                                <div class="message-body">
                                        <p class="has-text-weight-bold">Steps</p>
                                    <ul>
                                        <li>Planning ML</li>
                                        <li>Create training set</li>
                                    </ul>
                                        <p class="has-text-weight-bold">Tech</p>
                                        <ul>
                                            <li>HMTL / CSS / JS</li>
                                            <li>Machine Learning - Tensorflow / Azure</li>
                                            <li>OCR - Tensorflor / Azure</li>
                                        </ul>
        
                                        <p class="has-text-weight-bold">Procedings</p>
                                        <ul>
                                            <li>Use OCR to transform picture of Hitori into strict format</li>
                                            <li></li>
                                        </ul>
        
        
                                 </div>
                            </article>
                </div>
                <div class="column">
                    <article class="message">
                        <div class="message-header">
                            <p>Hello World</p>
                         </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus
                                mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                            fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac
                            <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor,
                            tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem
                            eget, facilisis sodales sem.
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</body>

</html>